.project-container {
    display:flex;
    flex-direction:row;
    background-image: url('https://images.pexels.com/photos/2330137/pexels-photo-2330137.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    height: 95vh;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.text-container > h1 {
    display: flex;
    justify-content: center;
    color: white;
}

.text-container > h2 {
    display: flex;
    justify-content: center;
    color: white;
}

.text-container > h3 {
    color: white
}

.text-container > h4 {
    display: flex;
    justify-content: center;
    color: white;
}

.text-container > p {
    display: flex;
    justify-content: center;
    color: white;
}

.video-container {
    display:flex;
    justify-content: center;
}

